@page
@model IndexModel
@{
    string PlaylistId = "pl.bf7a3cbca49644d8a33f09c1285aef5c";
}

<div>
    <apple-music-artwork-lockup type="playlist" content-id="@PlaylistId"></apple-music-artwork-lockup>
</div>

<script>
    var music;
    document.addEventListener('musickitloaded', async function () {
        try {
            await MusicKit.configure({
                developerToken: "@Model.Token",
                app: {
                    name: 'Lofi',
                    build: '1.0.0',
                },
            });
        } catch (err) {
        }

        music = MusicKit.getInstance(); 
    });
</script>