@page
@model IndexModel
@{
    string PlaylistId = "pl.bf7a3cbca49644d8a33f09c1285aef5c";
}

<div class="container">
    <apple-music-artwork
        alt="Lofi Girl"
        source="https://is2-ssl.mzstatic.com/image/thumb/SG-MQ-US-032-Image000001/v4/a7/9d/a5/a79da565-983f-9755-5c84-a3001b8025fa/image/{w}x{h}cc.jpg"
        width="250"
    ></apple-music-artwork>
    <button id="authButton">Login</button>
    <div id="controls">
        <apple-music-playback-controls />
    </div>
</div>

<script>
    var music;
    const authButton = document.getElementById("authButton");


    document.addEventListener('musickitloaded', configureMusicKit);
    authButton.addEventListener("click", changeAuthorization);


    async function configureMusicKit() {
        try {
            music = await MusicKit.configure({
                developerToken: "@Model.Token",
                app: {
                    name: 'Lofi',
                    build: '1.0.0',
                },
            });
            music.setQueue({ playlist: "@PlaylistId" });
            music.shuffle = MusicKit.PlayerShuffleMode.songs;
            music.repeatMode = MusicKit.PlayerRepeatMode.all;
            music.addEventListener("authorizationStatusDidChange", updateAuthButton);
            updateAuthButton();
        } catch (err) {

        }

    }

    function changeAuthorization() {
        music.isAuthorized ? music.unauthorize() : music.authorize();
    }

    function updateAuthButton() {
        authButton.textContent = music.isAuthorized ? "Logout" : "Login";
    }
</script>